/* Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;900&display=swap');
/* General Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
img {
    width: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
}

/* Other Settings */
body {
    position: relative;
    width: 100%;
    background-image:url("./img/background.png");
    background-size: cover;
    background-attachment: fixed;
}

.container {
width: 100%;
max-width:102rem;
margin: 0 auto;
text-align: center;
}

.logo {
    margin-top: 4rem;
    margin-bottom: 7.3rem;
    
}
.logo-photo{
    max-width:10rem; 
    height:auto;
}

.header-buttons {
display: flex;
justify-content: center;
text-transform: uppercase;
}
.first-button {
    width: 21rem;
    height: 5rem;
    background-color: white;
    border-radius: 100px 0px 0px 100px;
    text-align: center;
    line-height: 5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}
.second-button {
    border: 2px solid #FFFFFF;
    width: 21rem;
    height: 5rem;
    border-radius: 0px 100px 100px 0px;
    text-align: center;
    line-height: 5rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.slider-area {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 9rem;  
    height: 18.9rem; 
}
.arrow-left, .arrow-right {
    font-size: 3rem;
    color:#FFFFFF;
    cursor: pointer;
    
}
.sliders {
    display: flex;
    overflow: hidden;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 5.2rem;
    line-height: 63px; 
    color: #FFFFFF;
    margin-right: 8rem;
    margin-left:  8rem;
}
.slide {
    min-width: 100%;
}

.people-portfolio {
    display:flex;
    height: 12rem;
    margin-top: 9rem;
}
.person-1 {
    display: flex;
    width: 34rem;
    height: 12rem;
    margin-left: 14.6rem;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.person-2, .person-3 {
    display: flex;
    width: 34rem;
    height: 12rem;
    margin-left: 5rem;
    border-radius: 5px;
    background-color: #222328;
    opacity: 0.7;
}

.person-photo{
    height: 7rem;
    width: 7rem;
    margin-top: 2.4rem;
    margin-left:2.5rem;
    margin-right:2rem;
    
}
.person-1-details, .person-2-details, .person-3-details {
    margin-top: 1.9rem;
}

.person-1 p, .person-2 p, .person-3 p {
font-family: Montserrat;
font-style: light;
Font-size: 12px;
line-height: 24px;
letter-spacing: 1.2px;
text-align:left;
margin-bottom: 1.5rem;
}

.person-1 h5, .person-2 h5, .person-3 h5 {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.5rem;  
    text-align: left; 
}

.person-2 h5, .person-3 h5, .person-2 p, .person-3 p {
    color:white;
}

ul.person-1-social, ul.person-2-social, ul.person-3-social {
    display:flex;
    line-height: 3.4rem;
    text-align: center;
    
}

ul.person-1-social li, ul.person-2-social li, ul.person-3-social li {
    margin-right: 2.5rem;
    padding:0;
}

ul.person-1-social li a {
    display: inline-block;
    font-size: 1.7em;
    color:#4F5362;
}
ul.person-2-social li a, ul.person-3-social li a {
    display: inline-block;
    font-size: 1.7rem;
    color:#FFFFFF
}

